PORT=5000
MONGODB_URI=mongodb+srv://bibhu2022_db_user:bibhu123@cluster0.ztlhfvp.mongodb.net/ 
JWT_SECRET=shsdfghsdjsdkuiysefhlihewfku
JWT_EXPIRE=1d
GOOGLE_MAPS_API_KEY=AIzaSyDaaQ4soQGCRsQgCbXujf0cLgk3iQNhADg
FIREBASE_SERVER_KEY=your_firebase_server_key
NODE_ENV=development
SCCOCT_URL=https://api.sccoct.io
MAX_FILE_SIZE=5242880
UPLOAD_PATH=./uploads
